@border: #ccc;

* {
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li, textarea, input {
   font-family: 'Open Sans', Helvetica, sans-serif;
}

.logo {
   margin: 0 auto;
   width: 250px;
   display: block;
}

.description {
   font-size: 8px;
   display: none;
}

.action-nav {
   display: block;
   text-align: center;
   font-size: 30px;
   margin: 36px 0;
}

.accordion-row {
   position: relative;
   border: 1px solid @border;
   margin: 12px 0;
}

.accordion-container {
   cursor: pointer;
}

.check-container {
   input {
      margin: 36px 18px;
      display: block;
   }
}

.accordion-title {
   font-weight: bold;
}

.accordion-subline {
   font-style: italic;
}

.accordion-slide {
   display: none;
   padding: 6px 12px;

   textarea {
      width: 100%;
   }
}

.accordion-link {
   position: absolute;
   right: 30px;
   top: 8px;
}

.contact {
   display: none;
}

