@border: #ccc;
@red: #D0021B;
@black: #000;
@white: #fff;

* {
   box-sizing: border-box;
   font-family: 'Open Sans', Helvetica, sans-serif;
   -webkit-font-smoothing: antialiased;
}

.success,
.exemption-label,
.action-nav, h1, h2, h3, h4, h5, h6, label {
   font-family: 'Montserrat', sans-serif;
}

a {
   color: @red;

   &:hover {
      color: darken(@red, 10%);
   }
}

strong {
   font-weight: 600;
}

.form-control, input, textarea {
   border: 3px solid @border;
   border-radius: 0;
   padding: 12px 17px;
}

.form-control, input {
   height: 46px;
}

.title {
   background-color: @red;
   text-align: center;
   padding: 55px 0 85px;

   h1 {
      margin-top: 48px;
      font-size: 48px;
      color: @black;
      font-weight: bold;
      text-shadow: 0 2px 1px #FF4545;
      text-transform: uppercase;
   }

   h2 {
      font-size: 24px;
      color: @black;
      text-shadow: 0 2px 1px #FF4545;
   }
}

.button-container {
   text-align: center;
}

.back {
   background: @red;
   height: 62px;

   a.back-button {
      color: @white;
      padding: 16px;
      font-size: 18px;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      display: inline-block;

      &:hover {
         text-decoration: none;
      }

      i {
         margin-right: 12px;
      }
   }

   .logo {
      margin: -49px auto 0;
   }
}

h1.page-title {
   font-size: 18px;
   color: @red;
   text-align: center;
   text-transform: uppercase;
}

h2.sub-title {
   text-align: center;
   font-size: 26px;
   margin-bottom: 48px;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 30px;
  color: @red;
}

label {
   font-size: 22px;
}

input[type=checkbox] + label:before { content: "\f10c"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 30px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f058"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 30px; } /* allow space for check mark */

.page {
   margin: 85px 0;
}

.callout {
   color: @red;
   font-size: 26px;
   margin: 48px;
   text-align: center;
}

p {
   font-size: 18px;
}

.btn {
   font-size: 18px;
   text-transform: uppercase;
   border-radius: 48px; 
   padding: 11px 22px;
   background: @black;
   color: @white;

   &:active,
   &:hover {
      background: @black;
      color: @white;
   }

   &.transparent {
      border: 2px solid @red;
      color: @red;
      background: transparent;
   }

   &.twitter {
      background-color: #55ACEE; 
   }

   &.facebook {
      background-color: #3B5998;
   }

   &.share-button {
      margin: 48px auto;
      margin-right: 8px;

      i {
         margin-left: 8px;
      }

      &.last {
         margin-right: 0;
      }
   }
}

.logo {
   margin: 0 auto;
   width: 100px;
   display: block;
}

.description {
   font-size: 8px;
   display: none;
}

.exemption-categories {
   margin-bottom: 120px;
}

.exemption-group {
   margin: 30px 0;

   p {
      margin-left: 56px;
   }
}

.sticky-nav {
   position: fixed;
   bottom: 0;
   text-align: center;
   padding: 24px;
   width: 100%;
   background-color: @white;
   box-shadow: 0px 0px 20px #888;

   p {
      color: @red;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      margin: 0;
   }

   .btn {
      display: inline;
      margin-left: 24px;
      font-size: 18px;
      i {
         margin-left: 8px;
      }
   }
}

.action-nav {
   text-align: center;
   font-size: 18px;
   margin: 36px 0;

   &.top-action {
      margin-top: -25px;
   }
}

.accordion-row {
   position: relative;
   margin: 12px 0;
}

.accordion-container {
   cursor: pointer;
}

.accordion-title {
   font-weight: bold;
}

.accordion-description {
   margin-left: 56px;
}

.exemption-label {
   color: @red;
   font-size: 16px;
   text-transform: uppercase;
   margin-bottom: 4px;
   font-weight: bold;
}

.accordion-slide {
   display: none;
   margin-left: 56px;

   textarea {
      width: 100%;
   }
}

.links {
   margin-left: 56px;
}

.accordion-link {
   margin-left: 6px;
}

.letter,
.exemptions,
.contact {
   display: none;
}

.error-message,
.has-error {
   color: @red;
}

.success-page {
   text-align: center;

   .page p {
      margin: 16px 0;
   }

   .page img {
      width: 100%;
   }
}

.success {
   font-size: 48px;
   text-transform: uppercase;
   text-align: center;
}

.footer {
   text-align: center;
   margin: 48px 0;
}

.logos {
   list-style-type: none;
   margin: 48px auto;
   padding: 0;
   overflow: hidden;
   width: 946px;

   li {
      display: inline-block;
      float: left;
      margin: 0 24px;
      &:first-of-type {
         margin-left: 0;
      }
      &:last-of-type {
         margin-right: 0;
      }
   }

   img {
      max-width: 150px;
   }
}

