@border: #ccc;

* {
   box-sizing: border-box;
}

.logo {
   margin: 0 auto;
   width: 250px;
   display: block;
}

.description {
   font-size: 8px;
   display: none;
}

.action-nav {
   display: block;
   text-align: center;
   font-size: 30px;
   margin: 36px 0;
}

.accordion-row {
   border: 1px solid @border;
}

.accordion-container {
   cursor: pointer;
}

.accordion-subline {
   font-style: italic;
}

.accordion-slide {
   display: none;
}

